/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*--------------------*/

html, body{
    height: 100%;
}

/* Стили для демонстрации */
@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;

}

:root{
    --index: calc(1vw + 1vh);
    --color: #d3dca7;
    --transition: all 1s cubic-bezier(.075,.5,0,1) 0s;
}
/* --------------------------------------- */



body{
    background-color: #010101;
    color: white;
    font-family: raleway_f, sans-serif;
    line-height: 1.6;
}


.header {
    position: relative;
    
}
.header::after {
    content: "";
    background-image: url(../img/ground.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) *10);
    bottom: calc(var(--index) *-4.5);;
}
    
.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.layers__header {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) /2), 0);
    transition: var(--transition);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--color);
    text-shadow: 0 0 15px #dbe082;
    will-change: transform;
}
.layers__caption {
    font-size: calc(var(--index) / 1.175);
    letter-spacing:  calc(var(--index) / 2.25);
}
.layers__title {
    margin-top: calc(var(--index) * -0.78);;
    font-size: calc(var(--index) * 2.5);
    letter-spacing:  calc(var(--index) / 3.5);
}
.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    transition: var(--transition);
}
.layers__base {
    transform: translate3d(0, calc(var(--scrollTop) /1.6), 0);
    z-index: 0;
}
.layers__middle {
    transform: translate3d(0, calc(var(--scrollTop) /3.8), 0);
}

.layers__front {
    transform: translate3d(0, calc(var(--scrollTop) /12), 0);
}
.main {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    transform: translate3d(0, calc(var(--scrollTop) / 50), 0);
}
.main__content {
    font-size: calc(var(--index)* 1);
    transform: translate3d(0, calc(var(--scrollTop) / 50), 0);
}
.main__header {
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * 0.2);
}
.copy {
    position: absolute;
    bottom: calc(var(--index) * 1);
    opacity: 0.75;
    font-size: calc(var(--index)* .75);
    letter-spacing: calc(var(--index) /11);
}

.main__paragraph{
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * .9);
    margin-top: calc(var(--index) / 1.25);
}